<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div th:if="!${addSuccess}">
        <ul>
            <li th:each=" dog : ${dogs}" th:text="${dog.name}"></li>
        </ul>
        <form th:action="@{/add}" th:object="${newDog}" method="post">
            <label for="name">Name : </label>
            <input type="text" name="name" id="name" th:field="*{name}">
            <label for="breed">breed : </label>
            <input type="text" name="breed" id="breed" th:field="*{breed}">
            <label for="birthdate">birthdate : </label>
            <input type="date" name="birthdate" id="birthdate" th:field="*{birthdate}">
            <button>Add</button>
        </form>
    </div>
    <p th:if="${addSuccess}" th:text="|You successfuly added a dog with id ${addSuccess}|"></p>
</body>

</html>